.kotak {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1360px;
    top: 0px;
    background: #FC2028;
}

.body {
    /*font */
    font-family: 'Poppins';
    /*background color*/
    position: absolute;
    width: 1440px;
    height: 1052px;
    left: 0px;
    top: 0px;
    background: #181F4D;
}

.hero {
    position: absolute;
    width: 648px;
    height: 421px;
    left: 36px;
    top: 263px;



}

.Home {
    position: absolute;
    width: 54px;
    height: 14px;
    left: 923px;
    top: 66px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    /* identical to box height, or 78% */

    letter-spacing: 0.003em;

    color: #FFFFFF;
}

.About {
    position: absolute;
    width: 55px;
    height: 14px;
    left: 1017px;
    top: 66px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    /* identical to box height, or 78% */

    letter-spacing: 0.003em;

    color: #FFFFFF;

}

.Contact {
    position: absolute;
    width: 74px;
    height: 14px;
    left: 1112px;
    top: 66px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    /* identical to box height, or 78% */

    letter-spacing: 0.003em;

    color: #FFFFFF;

}

.Join-Us {
    position: absolute;
    width: 64px;
    height: 14px;
    left: 1226px;
    top: 66px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    /* identical to box height, or 78% */

    letter-spacing: 0.003em;

    color: #FFFFFF;
}

.Johny {
    position: absolute;
    width: fit-content;
    height: 85px;
    left: 710px;
    top: 100px;

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 84px;
    /* identical to box height, or 338% */

    letter-spacing: 0.003em;

    color: #68EEB5;
}

.Discover {
    position: absolute;
    width: 551px;
    height: 338px;
    left: 704px;
    top: 135px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    border-width: 20px;
    font-size: 80px;
    line-height: 80px;
    /* or 106% */

    letter-spacing: 0.003em;

    color: #FFFFFF;
}

.paragraph {
    position: absolute;
    width: 528px;
    height: 73px;
    left: 710px;
    top: 562px;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0, 005em;
    color: #FFFFFF;

}

.start {
    position: absolute;
    width: 202px;
    height: 58px;
    left: 704px;
    top: 684px;

    background-color: #68EEB5;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border: 2px solid;

    letter-spacing: 0, 005em;
    color: #181F4D;


}

.episodes {
    position: absolute;
    width: 202px;
    height: 58px;
    left: 932px;
    top: 684px;
    background-color: transparent;

    border: 2px solid #68EEB5;
    box-sizing: border-box;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    letter-spacing: 0, 005em;
    color: #68EEB5;
}

.find {
    position: absolute;
    width: fit-content;
    height: 24px;
    left: 710px;
    top: 770px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0, 005em;
    color: #FFFFFF;
}

.fa-youtube {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 704px;
    top: 835px;
    font-size: 3em;
    color: #FFFFFF;
}

.fa-spotify {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 900px;
    top: 835px;
    font-size: 3em;
    color: #FFFFFF;
}

.youtube {
    position: absolute;
    width: 89px;
    height: 24px;
    left: 770px;
    top: 828px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    letter-spacing: 0.005em;
    color: #FFFFFF;

}

.spotify {
    position: absolute;
    width: 70px;
    height: 24px;
    left: 960px;
    top: 828px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    letter-spacing: 0.005em;

    color: #FFFFFF;
}